<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= current_user.name %>'s Library
      </h1>
      <h2 class="subtitle">
        Download or manage your chosen titles below
      </h2>
    </div>
  </div>
</section>

  <div class="book-grid">
    <%= render @library_books %>
  </div>
</section>